body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
 
    font-family: Arial, sans-serif;  /* Specify the font family */
    font-size: 12px;                 /* Set the font size */
  }


#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}